@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4em;
    color: rgb(43, 43, 43);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0.4em 0.4em 0.8em rgba(0, 0, 0, 0.1);
}

.fa {
    font-size: 1px;
}

#sidebarCollapse {
    position: fixed;
    height: 50px;
    width: 70px;
    margin-left: 80px;
    margin-top: 20px;
    z-index: 100;
}

#button {
    background-color: #8B0000;
    z-index: 50;
    border: solid black 2px;
}

nav {
    left: -350px;
    background: transparent;
}

.navbar-btn {

    background: transparent;
    box-shadow: none;
    outline: none !important;
    border: none;
}

h3 {
    color: black;
}


.wrapper {

    position: fixed;
    width: 390px;
    align-items: stretch;
    z-index: 30;
}

#sidebar {

    width: 200px;
    height: 500px;
    color: #DDD;
    transition: all 0.3s;
    transform: translateX(0);
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;

}

#sidebar.active {
    transform: translateX(350px);
}

#sidebar .sidebar-header {
    width: 200px;
    height: 300px;
    padding: 20px;
    background: transparent;
}

#sidebar ul.components {
    background-color: #3D3D3D;
    border: solid rgba(43, 0, 0, 0.349) 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    padding: 20px 0px;

}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.281);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7ecc00;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4d4d4d94;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #9ea0ac !important;
    color: #fff !important;
}

.content {

    margin-left: 280px;

}

#content {
    background: transparent;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    z-index: 40;
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.fas {
    margin-right: 8px;
}

.test {
    background-color: #8B0000;
}